body {
    font-family: 'Montserrat', sans-serif;
}

.img-starbucks {
    width: 50px;
    height: 50px;
}

.icon-size {
    font-size: 1.3rem;
}

.navbar-brand.pe-2:hover {
    color: 	#00704A;
}

a.nav-link.active:hover {
    color: 	#00704A;
}

.text-spacing {
    letter-spacing: 1.5px;
}

