body {
    font-family: 'Montserrat', sans-serif;
}

/* Home Page (Index Page) Styles */
/* Navbar Styles */
.img-starbucks {
    width: 50px;
    height: 50px;
}

.icon-size {
    font-size: 1.3rem;
}

.margin-custom {
    margin-right: 5.7rem;
}

.navbar-brand.pe-2 {
    position: relative;
    text-decoration: none;
    color: inherit;
}

.navbar-brand.pe-2:hover {
    color: 	#00704A;
}

a.nav-link.active {
    position: relative;
    text-decoration: none;
    color: inherit;
}

a.nav-link.active:hover {
    color: 	#00704A;
}

.text-spacing {
    letter-spacing: 1.5px;
}

/* Gift Card-1 Styles */
.margin-card {
    margin: 2rem 9.5rem 2rem 9.5rem;
}

.bg-color {
    background-color: #d40032;
}

.padding-custom {
    padding: 32px 40px 32px 40px !important;
} 

.text-custom {
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 1.2;
}

/* Gift Card-2 Styles */
.bg-color-1 {
    background-color: #06ce8d;
}

.text-color {
    color: #223531;
}

.text-color-1 {
    color:#184a31;
}

.custom-border {
    border: 1px solid hsl(164, 31%, 17%);
}

/* Gift Card-3 Styles */
.bg-color-2 {
    background-color: #8e0032;
}

/* Small Card Styles */
.bg-color-3 {
    background-color:#f1f0eb;
}

.text-color-2 {
    color: #03644c;
}

.text-color-3 {
    color: #4b866d;
}

.text-color-4 {
    color: #0e724f;
}

.custom-border-2 {
    border: 1px solid #0e724f;
}

.text-custom-2 {
    font-size: 24px;
    font-weight: 700;
}

/* Brand Description Styles */
.brand-text {
    font-size: 14px;
    line-height: 1.8;
    font-weight: 600;
}

/* Menu Page Styles */
.me-join-btn {
    margin-right: 0rem;
}

.menu-padding {
     padding: 16px 146px;
}

.menu-navbar-text {
    position: relative;
    text-decoration: none;
    color: inherit;
}

.menu-list-padding {
    padding: 40px 200px 40px 146px;
}

.menu-text {
    font-weight: 500;
    opacity: 0.75;
    font-size: 1.1rem;
}

.img-size {
    width: 112px;
    height: 112px;
} 

/* Fixed Bottom Bar: Location and Icon Styles */
.bottom-bar-bg {
    background-color: #1e3932;
}

.text-color {
    color: #00ab61;
}

/* Menu / Featured Page Styles */
.heading-text {
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 2px;
    color: #1e3932;
}
/* Menu / Featured Page Gift Card Styles */
.text-custom-3 {
    font-size: 24px;
    font-weight: 700;
}

.bg-color-4 {
    background-color: #1e3932;
}

/* Menu / Previous Page Styles */


/* Menu / Favorites Page Styles */
.favorites-img-size {
    width: 200px;
    height: 213px;
}


/* Rewards Page Styles */
.green-menu-custom {
    background-color: #1e3932;
    box-shadow: 0 4px 4px 0 #0000001f,0 0 2px 0 #0000003d;
    height: 50px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 3;
    padding: 0 146px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.green-menu-text {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1.5px;
    margin: 0;
}

.bg-star {
    background-color: rgb(212, 233, 226);
    background-image: url(assets/images/bg-star.png);
    background-position: 50%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    width: 100%;
}
  
.star-text-padding {
    padding: 275px 146px;
}

.join-hover:hover {
    text-decoration: none;
}

.icon-size-1 {
    width: 48px;
    height: 48px;
}

.bg-rewards {
    background-color: hsl(160deg 32% 87% / 33%);
}

.breakfast-bg {
    background-color: #d4e9e2;
    box-shadow: inset 0 7px 9px -7px #00000024;
}

.breakfast-img {
    width: 576px;
    height: 324px;
}

.icon-size-2 {
    width: 112px;
    height: 112px;
}

.bg-payment {
    background-color: #f1f0eb;
}

.icon-size-3 {
    width: 112px;
    height: 158px;
}

.icon-size-4 {
    width: 190px;
    height: 85px;
}

.bg-texture {
    position: relative;
    padding: 32px;
    z-index: 1;
}

.bg-texture::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('assets/images/texture.png') no-repeat center center;
    background-size: cover;
    z-index: -2;
}

.bg-texture::after {
    content: "";
    position: absolute;
    top: 32px;  /* Padding etkisi */
    left: 32px;
    width: calc(100% - 64px);  /* Padding hesaba katıldı */
    height: calc(100% - 64px);
    background-color: #d4e9e2;  /* Yarı saydam arka plan */
    z-index: -1;
}
 
.carousel-indicators [data-bs-target] { /* Indicators Styles */
    background-color: black !important;
}
      
.carousel-indicators .active {
    background-color: black !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

.mobile-text {
    width: 200px;
    height: min-content;
}

.mobile-text-1 {
    width: 300px;
    height: min-content;
}

/* Gift Cards Page Styles */
.gift-padding-1 {
    padding: 56px 40px 40px 146px;
}

.gift-padding-2 {
    padding: 0 55px 30px 146px;
}

.gift-padding-3 {
    padding: 30px 55px 30px 146px;
}

.gift-padding-4 {
    padding: 0 55px 0 146px;
}

.gift-cards {
    width: 320px;
    height: 200px;
    box-shadow: 0 4px 1px #0000001c,0 0 2px #0000003d;
    border-radius: 10px;
}

.gift-cards-text {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin: 0;
}

.credit-card-size {
    width: 58px;
    height: 54px;
}

.credit-card-custom {
    margin: 0 55px 30px 146px;
    padding: 1rem;
    background-color: #ecebe9;
    border-radius: 10px;
}

.received-custom {
    padding: 40px 55px 20px 146px;
    background-color: #d4e9e2;
}

.business-card-size {
    width: 375px;
    height: 250px;
}

.business-card-custom {
    margin-top: 30px;
    padding: 55px 55px 55px 146px;
    background-color: #f9f9f9;
}

.business-card-text {
    width: 375px;
    height: 96px;
    margin: 8px 0 40px 0;
    color: #00000094;
    font-weight: 500;
}

.description-custom {
    padding: 56px 40px 40px 146px;
    background-color: #ecebe9;
}

/* Sign-in Page Styles */
.card-custom {
    width: 550px;
    height: 550px;
    padding: 16px;
    box-shadow: 0 2px 4px #00000012,0 4px 5px #0000000f,0 1px 10px #0000001a;
}

.form-check-input:checked {
    background-color: #00754a !important;
    border-color: #00754a !important;
}

.card-text-custom {
    font-weight: 700;
    color: #006241;
    font-size: 17px;
}

.card-text-custom:hover {
    text-decoration: none;
}

.aside-text {
    width: 320px;
    height: 80px;
    text-align: center;
}

/* Join Now Page Styles */
.aside-text-2 {
    width: 450px;
    height: 60px;
    text-align: center;
}

.rewards-link {
    color: rgb(0 0 0 / 60%);
}

.rewards-link:hover {
    text-decoration: none;
}

.card-custom-2 {
    width: 550px;
    height: 550px;
    padding: 60px;
    box-shadow: 0 2px 4px #00000012,0 4px 5px #0000000f,0 1px 10px #0000001a;
}

.join-accordion-text {
    font-weight: 700;
    color: #006241;
    text-decoration: underline;
    margin: 0;
}

.join-accordion-text:hover {
    text-decoration: none;
}

.check-button-link {
    color: #006241;
}

.check-button-link:hover {
    text-decoration: none;
}

/* Store Locator Page Styles */
.delivery-button {
    padding: 5px 85px !important;
}

.delivery-description {
    margin: 210px 24px 0 24px;
    font-weight: 500;
    color: #00000094;
    text-align: center;
    width: 600px;
    height: 96px;
}

.delivery-img {
    width: 696px;
    height: 391px;
}

.bg-radius {
    background: radial-gradient(270% 91% ellipse at center top,#006241 5%,#79bb6a 60%,#f1f8f5 0);
} 












 








  
  
  
  


 

  



  






  














/* Footer Styles */
.footer-padding {
    padding: 0 9.5rem 0 9.5rem;
}

.footer-shadow {
    box-shadow: 0 -1px 3px rgba(0,0,0,.1),0 -2px 2px rgba(0,0,0,.06),0 0 2px rgba(0,0,0,.07);
}

.footer-text {
    font-weight: 500;
    opacity: 0.75;
}

.accordion {
    --bs-accordion-active-bg: white !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.text-decoration-none.text-muted.footer-text:hover {
    color: #111111 !important;
}

.fs-list {
    font-size: 1.1rem;
    font-weight: 500;
}

.text-black.text-decoration-none.fs-list:hover {
    text-decoration: underline !important;
}


/* Home Page (Index Page) CSS Media Queries */
@media (max-width: 768px) {
    .margin-card {
        margin: 2rem 0 2rem 0;
    }

    .text-custom {
        font-size: 24px;
        letter-spacing: 1px;
        font-weight: 600;
        line-height: 1.2;
    }

    .padding-custom {
        padding: 32px 16px 32px 16px !important;
    }
}

/* Navbar Link CSS Media Queries */
@media (min-width: 991px) {
    .navbar-brand.pe-2::before {
        content: "";
        position: absolute;
        bottom: -106%; /* Çizgiyi metnin altına yerleştir */
        left: 45%; /* Ortala */
        transform: translateX(-50%); /* Tam ortalamak için */
        width: 0; /* Başlangıçta çizgi genişliği 0 */
        height: 5px; /* Çizgi kalınlığı */
        background-color: #00704A; /* Çizgi rengi */
        visibility: hidden; /* Başlangıçta gizli */
        transition: 0.3s ease-in-out; /* Geçiş efekti */
    }

    /* Hover durumunda çizgiyi göster */
    .navbar-brand.pe-2:hover::before {
        width: 93%; /* Çizgi genişliği */
        visibility: visible; /* Çizgiyi görünür yap */
    }

    /* Target durumunda çizgiyi göster */
    .navbar-brand.pe-2:target:before {
        width: 93%; /* Çizgi genişliği */
        visibility: visible; /* Çizgiyi görünür yap */
    }
}

@media (min-width: 991px) {
    a.nav-link.active::before {
        content: "";
        position: absolute;
        bottom: -107%; /* Çizgiyi metnin altına yerleştir */
        left: 55%; /* Ortala */
        transform: translateX(-50%); /* Tam ortalamak için */
        width: 0; /* Başlangıçta çizgi genişliği 0 */
        height: 5px; /* Çizgi kalınlığı */
        background-color: #00704A; /* Çizgi rengi */
        visibility: hidden; /* Başlangıçta gizli */
        transition: 0.3s ease-in-out; /* Geçiş efekti */
    }

    /* Hover durumunda çizgiyi göster */
    a.nav-link.active:hover::before {
        width: 100%; /* Çizgi genişliği */
        visibility: visible; /* Çizgiyi görünür yap */
    }

    /* Target durumunda çizgiyi göster */
    a.nav-link.active:target:before {
        width: 100%; /* Çizgi genişliği */
        visibility: visible; /* Çizgiyi görünür yap */
    }
}

@media (max-width: 992px) {
    .margin-card {
        margin: 2rem 0 2rem 0;
    }

    .text-custom {
        font-size: 24px;
        letter-spacing: 1px;
        font-weight: 600;
        line-height: 1.2;
    }

    .padding-custom {
        padding: 32px 24px 32px 24px !important;
    }
}

@media (max-width: 1200px) {
    .margin-card {
        margin: 2rem 0 2rem 0;
    }

    .text-custom {
        font-size: 24px;
        letter-spacing: 1px;
        font-weight: 600;
        line-height: 1.2;
    }

    .padding-custom {
        padding: 32px 40px 32px 40px !important;
    }
}


/* Footer CSS Media Queries */
@media (max-width: 768px) {
    .accordion-fs {
        font-size: 1.1rem;
    }
}

@media (max-width: 1024px) {
    .row-display {
        display: none !important;
    }

    .accordion-display {
        display: block;
    }
}

@media (min-width: 1025px) {
    .accordion-display {
        display: none;
    }
}

@media (max-width: 1200px) {
    .footer-padding {
        padding: 0 1.5rem;
    }

    .margin-custom {
        margin-right: 0rem;
    }
}


/* Menu Page Media Queries */
/* Menu Navbar Styles */
@media (min-width: 991px) {
    .menu-navbar-text::before {
        content: "";
        position: absolute;
        bottom: -45%; /* Çizgiyi metnin altına yerleştir */
        left: 50%; /* Ortala */
        transform: translateX(-50%); /* Tam ortalamak için */
        width: 0; /* Başlangıçta çizgi genişliği 0 */
        height: 1px; /* Çizgi kalınlığı */
        background-color: rgb(0 0 0 / 87%); /* Çizgi rengi */
        visibility: hidden; /* Başlangıçta gizli */
        transition: 0.3s ease-in-out; /* Geçiş efekti */
    }

    /* Hover durumunda çizgiyi göster */
    .menu-navbar-text:hover::before {
        width: 100%; /* Çizgi genişliği */
        visibility: visible; /* Çizgiyi görünür yap */
    }

    /* Target durumunda çizgiyi göster */
    .menu-navbar-text:target:before {
        width: 100%; /* Çizgi genişliği */
        visibility: visible; /* Çizgiyi görünür yap */
    }
}

@media (max-width: 1024px) {
    .menu-list-display {
        display: none;
    }
}

@media (min-width: 1024px) {
    .menu-list-display {
        display: block;
    }

    .menu-list-padding {
        padding: 40px 200px 40px 146px;
    } 
}

@media (min-width: 768px) and (max-width: 1024px) {
    .img-size {
        width: 72px;
        height: 72px;
    } 
  
    .menu-padding {
    padding: 16px 122px;
    }

    .menu-list-padding {
        padding: 40px 0 40px 122px;
   }
}

@media (min-width: 375px) and (max-width: 768px) {
    .img-size {
        width: 72px;
        height: 72px;
    } 

    .menu-padding {
        padding: 16px 24px;
    }

    .menu-list-padding {
        padding: 40px 0 40px 24px;
    }
}
 
@media (min-width: 1024px) and (max-width: 1024px) {
    .menu-img-padding {
        padding: 0 80px 0 110px !important;
   }

    .img-size {
        width: 112px;
        height: 112px;
   } 
}


/* Menu / Previous Page CSS Media Queries */


/* Menu / Favorites Page CSS Media Queries */


/* Featured Page CSS Media Queries */
@media (max-width: 992px) {
    .heading-text {
        font-weight: 700;
        font-size: 28px;
        letter-spacing: 2px;
        color: #1e3932;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .custom-col {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}


/* Rewards Page CSS Media Queries */
@media (min-width: 768px) and (max-width: 1024px) {  
    .green-menu-custom {
        padding: 0 122px;
    }

    .star-text-padding {
        padding: 160px 24px;
    }
}

@media (min-width: 375px) and (max-width: 768px) {
    .green-menu-custom {
        padding: 0 24px;
    }

    .star-text-padding {
        padding: 300px 24px;
    }

    .bg-star {
        background-color: rgb(212, 233, 226);
        background-image: url(assets/images/bg-star-2.jpg);
        background-position: 100%;
        background-size: auto 100%;
        background-repeat: no-repeat;
        width: 100%;
    }

    .mobile-text-1 {
        width: 400px;
        height: min-content;
    }
}

@media (min-width: 768px) and (max-width: 768px) {
    .star-text-padding {
        padding: 90px 24px;
    }

    .bg-star {
        background-color: rgb(212, 233, 226);
        background-image: url(assets/images/bg-star.png);
        background-position: 50%;
        background-size: auto 100%;
        background-repeat: no-repeat;
        width: 100%;
    }

    .mobile-text-1 {
        width: 225px;
        height: min-content;
    }  
}

@media (min-width: 375px) and (max-width: 575px) {
    .mobile-text-1 {
        width: 230px;
        height: min-content;
    }

    .breakfast-text {
        width: 358px;
        height: 57px;
        text-align: center;
    }

    .breakfast-text-1 {
        width: 358px;
        height: 63px;
        text-align: center;
    }

    .breakfast-img {
        width: 375px;
        height: 211px;
    }
}

@media (min-width: 768px) {
    .breakfast-text {
        width: 343px;
        height: 108px;
    }

    .breakfast-text-1 {
        width: 343px;
        height: 72px;
    }

    .breakfast-img {
        width: 375px;
        height: 211px;
    }
}

@media (max-width: 576px) {
    .breakfast-img-container {
        overflow: hidden;
    }
}

@media (min-width: 576px) and (max-width: 576px) {
    .breakfast-text {
        width: 544px;
        height: 57px;
        text-align: center;
    }

    .breakfast-text-1 {
        width: 544px;
        height: 42px;
        text-align: center;
    }
}


/* Gift Cards Page CSS Media Queries */
@media (max-width: 576px) {
    .gift-padding-1 {
        padding: 16px 16px;
    }

    .gift-padding-2 {
        padding: 8px 16px;
    }

    .gift-padding-3 {
        padding: 16px 16px;
    }

    .gift-padding-4 {
        padding: 0 16px;
    }

    .gift-cards-text {
        font-weight: 700;
        font-size: 0.9rem;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        margin: 0;
    }

    .credit-card-custom {
        margin: 16px;
        padding: 1rem;
        background-color: #ecebe9;
        border-radius: 10px;
    }

    .received-custom {
        padding: 24px 16px;
        background-color: #d4e9e2;
    }

    .gift-cards {
        width: 155px;
        height: 98px;
        box-shadow: 0 4px 1px #0000001c,0 0 2px #0000003d;
        border-radius: 10px;
    }

    .business-card-custom {
        margin-top: 30px;
        padding: 24px 182px 24px 16px;
        background-color: #f9f9f9;
    }

    .description-custom {
        padding: 24px 16px;
        background-color: #ecebe9;
    }

    .gift-cards {
        width: 155px;
        height: 98px;
        box-shadow: 0 4px 1px #0000001c,0 0 2px #0000003d;
        border-radius: 10px;
    }
}

@media (min-width: 577px) and (max-width: 1024px) {
    .gift-padding-1 {
        padding: 16px 120px;
    }

    .gift-padding-2 {
        padding: 8px 16px 8px 120px;
    }

    .gift-padding-3 {
        padding: 16px 16px 16px 120px;
    }

    .gift-padding-4 {
        padding: 0 16px 0px 120px;
    }

    .gift-cards-text {
        font-weight: 700;
        font-size: 0.9rem;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        margin: 0;
    }

    .credit-card-custom {
        margin: 16px 16px 16px 120px;
        padding: 1rem;
        background-color: #ecebe9;
        border-radius: 10px;
    }

    .received-custom {
        padding: 24px 16px 24px 120px;
        background-color: #d4e9e2;
    }

    .gift-cards {
        width: 155px;
        height: 98px;
        box-shadow: 0 4px 1px #0000001c,0 0 2px #0000003d;
        border-radius: 10px;
    }

    .business-card-custom {
        margin-top: 30px;
        padding: 24px 182px 24px 16px;
        background-color: #f9f9f9;
    }

    .description-custom {
        padding: 24px 16px;
        background-color: #ecebe9;
    }

    .gift-cards {
        width: 195px;
        height: 122px;
        box-shadow: 0 4px 1px #0000001c,0 0 2px #0000003d;
        border-radius: 10px;
    }
}


/* Sign in Page CSS Media Queries */
@media (max-width: 767px) {
    .card {
      border: none !important;
    }
    
    .card-custom {
        width: 550px;
        height: 550px;
        padding: 16px;
        box-shadow: none;
    }
}


/* Join Now Page CSS Media Queries */
@media (max-width: 767px) {
    .card-custom-2 {
        width: 550px;
        height: 550px;
        padding: 20px;
        box-shadow: none;
    }
}

@media (max-width: 575px) {
    .aside-text-2 {
        width: 358px;
        height: 70px;
        padding-left: 10px;
        text-align: start;
    }

    .card-custom-2 {
        width: 550px;
        height: 550px;
        padding: 1px;
        box-shadow: none;
    }
}


/* Store Locator CSS Media Queries */










 





 



