body {
    font-family: 'Montserrat', sans-serif;
}

/* Navbar Styles */
.img-starbucks {
    width: 50px;
    height: 50px;
}

.icon-size {
    font-size: 1.3rem;
}

.margin-custom {
    margin-right: 5.7rem;
}

.navbar-brand.pe-2:hover {
    color: 	#00704A;
}

a.nav-link.active:hover {
    color: 	#00704A;
}

.text-spacing {
    letter-spacing: 1.5px;
}

/* Gift Card-1 Styles */
.margin-card {
    margin: 2rem 9.5rem 2rem 9.5rem;
}

.bg-color {
    background-color: #d40032;
}

.padding-custom {
    padding: 32px 40px 32px 40px !important;
} 

.text-custom {
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 1.2;
}

/* Gift Card-2 Styles */
.bg-color-1 {
    background-color: #06ce8d;
}

.text-color {
    color: #223531;
}

.text-color-1 {
    color:#184a31;
}

.custom-border {
    border: 1px solid hsl(164, 31%, 17%);
}

/* Gift Card-3 Styles */
.bg-color-2 {
    background-color: #8e0032;
}

/* Small Card Styles */
.bg-color-3 {
    background-color:#f1f0eb;
}

.text-color-2 {
    color: #03644c;
}

.text-color-3 {
    color: #4b866d;
}

.text-color-4 {
    color: #0e724f;
}

.custom-border-2 {
    border: 1px solid #0e724f;
}

.text-custom-2 {
    font-size: 24px;
    font-weight: 700;
}

/* Brand Description Styles */
.brand-text {
    font-size: 14px;
    line-height: 1.8;
    font-weight: 600;
}

/* Menu Page Styles */
.me-join-btn {
    margin-right: 0rem;
}

.menu-padding {
     padding: 16px 157px;
}












/* Footer Styles */
.footer-padding {
    padding: 0 9.5rem 0 9.5rem;
}

.footer-shadow {
    box-shadow: 0 -1px 3px rgba(0,0,0,.1),0 -2px 2px rgba(0,0,0,.06),0 0 2px rgba(0,0,0,.07);
}

.footer-text {
    font-weight: 500;
    opacity: 0.75;
}

.text-decoration-none.text-muted.footer-text:hover {
    color: #111111 !important;
}

.fs-list {
    font-size: 1.1rem;
    font-weight: 500;
}

.text-black.text-decoration-none.fs-list:hover {
    text-decoration: underline !important;
}










/* Card-1 CSS Media Queries */
@media (max-width: 768px) {
    .margin-card {
        margin: 2rem 0 2rem 0;
    }

    .text-custom {
        font-size: 24px;
        letter-spacing: 1px;
        font-weight: 600;
        line-height: 1.2;
    }

    .padding-custom {
        padding: 32px 16px 32px 16px !important;
    }
}

@media (max-width: 992px) {
    .margin-card {
        margin: 2rem 0 2rem 0;
    }

    .text-custom {
        font-size: 24px;
        letter-spacing: 1px;
        font-weight: 600;
        line-height: 1.2;
    }

    .padding-custom {
        padding: 32px 24px 32px 24px !important;
    }
}

@media (max-width: 1200px) {
    .margin-card {
        margin: 2rem 0 2rem 0;
    }

    .text-custom {
        font-size: 24px;
        letter-spacing: 1px;
        font-weight: 600;
        line-height: 1.2;
    }

    .padding-custom {
        padding: 32px 40px 32px 40px !important;
    }
}

/* Footer CSS Media Queries */
@media (max-width: 768px) {
    .accordion-fs {
        font-size: 1.1rem;
    }
}

@media (max-width: 1024px) {
    .row-display {
        display: none !important;
    }

    .accordion-display {
        display: block;
    }
}

@media (min-width: 1025px) {
    .accordion-display {
        display: none;
    }
}

@media (max-width: 1200px) {
    .footer-padding {
        padding: 0 1.5rem;
    }

    .margin-custom {
        margin-right: 0rem;
    }
}


 



