/* Footer Styles */
.footer-padding {
    padding: 0 9.5rem 0 9.5rem;
}

.footer-shadow {
    box-shadow: 0 -1px 3px rgba(0,0,0,.1),0 -2px 2px rgba(0,0,0,.06),0 0 2px rgba(0,0,0,.07);
}

.footer-text {
    font-weight: 500;
    opacity: 0.75;
}

.accordion {
    --bs-accordion-active-bg: white !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.text-decoration-none.text-muted.footer-text:hover {
    color: #111111 !important;
}

.fs-list {
    font-size: 1.1rem;
    font-weight: 500;
}

.text-black.text-decoration-none.fs-list:hover {
    text-decoration: underline !important;
}