/* Full Responsive Slider Styles */
.slider-custom {
  display: flex;
  padding: 0 50px 0 135px;
}

.wrapper {
  max-width: 1450px;
  width: 100%;
  position: relative;
}

.wrapper i {
  top: 45%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
  -webkit-transform: translateY(-50%) scale(0.85);
  -moz-transform: translateY(-50%) scale(0.85);
  -ms-transform: translateY(-50%) scale(0.85);
  -o-transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel-custom {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel-custom::-webkit-scrollbar {
  display: none;
}

.carousel-custom.no-transition {
  scroll-behavior: auto;
}

.carousel-custom.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .gift-card {
  cursor: grab;
  user-select: none;
}

.carousel-custom :where(.gift-card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-custom .gift-card {
  scroll-snap-align: start;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 25px;
  padding-top: 25px;
  flex-direction: column;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.carousel-custom .gift-card .img {
  width: 320px;
  height: 200px;
  border-radius: 10px;
}

.gift-card .img img {
  width: 320px;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 4px 1px #0000001c, 0 0 2px #0000003d;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
}

.gift-card .img img:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.gift-card-2 {
  width: 320px;
  height: 200px;
  box-shadow: 0 4px 1px #0000001c, 0 0 2px #0000003d;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
}

.gift-card-2:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

@media (max-width: 576px) {
  .wrapper .carousel-custom {
    grid-auto-columns: calc((100% / 2.8) - 9px);
  }

  .gift-card .img img {
    width: 155px;
    height: 98px;
  }

  .slider-custom {
    display: flex;
    justify-content: center;
    padding: 0 40px;
  }

  .carousel-custom .gift-card .img {
    width: 320px;
    height: 120px;
    border-radius: 10px;
  }

  .wrapper i {
    top: 45%;
    height: 40px;
    width: 40px;
    line-height: 40px;
  }
}

@media (min-width: 577px) and (max-width: 1024px) {
  .wrapper .carousel-custom {
    grid-auto-columns: calc((100% / 4) - 9px);
  }

  .gift-card .img img {
    width: 195px;
    height: 122px;
  }

  .slider-custom {
    display: flex;
    padding: 0 30px 0 115px;
  }

  .carousel-custom .gift-card {
    padding-bottom: 0;
    padding-top: 0;
  }

  .carousel-custom .gift-card .img {
    width: 320px;
    height: 120px;
    border-radius: 10px;
  }
}
